<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <!-- Start Resoruces Minimal-->
        <title>Home</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="/resources/css/vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/vendors/css/vendor.bundle.base.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/vendors/css/vendor.bundle.addons.css" rel="stylesheet" type="text/css"/>
        <link href="/resources/css/style/style.css" rel="stylesheet" type="text/css"/>
        <!-- End Resoruces Minimal -->
    </head>
    <body>
        <div th:replace="sidebars :: sidebars"></div>


        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-md-4 stretch-card grid-margin">
                                <div class="card bg-gradient-danger card-img-holder text-white">
                                    <div class="card-body">
                                        <img src="images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                                        <h4 class="font-weight-normal mb-3">Weekly Sales
                                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                                        </h4>
                                        <h2 class="mb-5">$ 15,0000</h2>
                                        <h6 class="card-text">Increased by 60%</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Start Scripts Minimal to Create Page -->
        <script src="/resources/js/vendor.bundle.base.js" type="text/javascript"></script>
        <script src="/resources/js/vendor.bundle.addons.js" type="text/javascript"></script>
        <script src="/resources/js/off-canvas.js" type="text/javascript"></script>
        <script src="/resources/js/hoverable-collapse.js" type="text/javascript"></script>
        <script src="/resources/js/misc.js" type="text/javascript"></script>
        <script src="/resources/js/settings.js" type="text/javascript"></script>
        <script src="/resources/js/todolist.js" type="text/javascript"></script>

        <!-- Start Scripts Minimal to Create Page -->
    </body>
</html>
